node_modules
.svelte-kit
.DS_Store
**/.DS_Store
.env
.env.emulator
.env.wordplay-dev
.env.wordplay-prod
build
firebase-debug.log
firestore-debug.log
.firebase
.VSCodecounter
*-service-key.json
/test-results/
/playwright-report/
/playwright/.cache/
