rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /projects/{project} {
      allow create: if request.auth != null;
      allow read: if resource.data.public || (request.auth != null && (resource.data.owner == request.auth.uid || request.auth.uid in resource.data.collaborators));
      allow update: if request.auth != null && (resource.data.owner == request.auth.uid || request.auth.uid in resource.data.collaborators);
      allow delete: if request.auth != null && resource.data.owner == request.auth.uid;
    }
    match /users/{uid} {
      allow read, write: if request.auth != null && request.auth.uid == uid;
    }
  }
}