rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /projects/{project} {

      allow read: if request.auth != null && request.auth.uid in resource.data.uids;
      allow create: if request.auth != null;
      allow update: if request.auth != null && request.auth.uid in resource.data.uids;
      allow delete: if request.auth != null && request.auth.uid in resource.data.uids;
    }
  }
}